body {
  overflow-x: hidden; }

.grid-container {
  font-family: "Hind", sans-serif;
  display: grid;
  grid-template-columns: 50% 50%; }

.header {
  background-color: black;
  grid-column: 1/3;
  color: aliceblue; }
  .header a {
    list-style: none;
    text-decoration: none;
    color: aliceblue; }
  .header h1 {
    padding-left: 20px;
    padding-top: 10px; }

.barra {
  grid-column: 1/3;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%; }
  .barra ul:hover {
    transform: translateY(-5px) scale(1.1); }
  .barra a {
    color: aliceblue;
    font-size: 20px;
    list-style: none;
    text-decoration: none; }

.navbar {
  display: none; }

.fondo {
  grid-column: 1/3;
  background-image: url("../fotos/fondo.jpg");
  background-size: 100%;
  width: 200%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 50px; }
  .fondo h3 {
    background-color: aliceblue;
    border-radius: 10px;
    opacity: 0.8;
    font-size: 30px;
    font-weight: bold;
    color: black; }

h2 {
  width: 200%;
  text-align: center;
  font-size: 30px;
  font-family: "Hind", sans-serif;
  font-weight: bold;
  margin-top: 30px; }

.ofertas {
  grid-column: 1/3;
  width: 200%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; }

.cards {
  width: 400;
  height: 300;
  border: solid 1px #746f6f; }
  .cards p {
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold; }
  .cards img {
    width: 300px;
    height: 200px; }

.footer {
  grid-column: 1/3;
  margin-top: 80px;
  height: 300px;
  background-color: black;
  color: aliceblue; }
  .footer h1, .footer h4 {
    padding-left: 20px;
    padding-top: 10px; }
  .footer h5 {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 10px; }
  .footer li {
    list-style: none; }
  .footer h4 {
    text-align: center; }
  .footer a {
    text-decoration: none;
    color: aliceblue; }
  .footer p {
    text-align: center; }

.redes {
  height: 60px;
  display: flex;
  justify-content: center; }
  .redes ul {
    grid-column: 1/3;
    width: 70%;
    display: flex;
    background-color: antiquewhite;
    border-radius: 20px;
    opacity: 0.4;
    justify-content: center;
    align-items: center;
    gap: 30px; }

.iconos img:hover {
  transform: translateY(-5px) scale(1.05); }

.formulario {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px; }

.formulario form {
  width: 50%; }

.ventas, .alquilar {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  animation-duration: 0.6s;
  animation-name: slidein; }

.card-ventas, .card-alquilar {
  grid-column: 1/3;
  width: 95%;
  border: solid 1px black;
  display: flex;
  margin-top: 10px; }
  .card-ventas .slide, .card-alquilar .slide {
    width: 500px;
    height: 300px; }
    .card-ventas .slide img, .card-alquilar .slide img {
      width: 200%;
      height: 300px; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.description {
  width: 80%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .description p {
    font-size: 30px;
    font-weight: bold; }

.description-obra {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px; }
  .description-obra p {
    font-size: 30px;
    font-weight: bold; }

.contacto {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 20px;
  padding-right: 10px; }
  .contacto img:hover {
    transform: translateY(-5px) scale(1.05); }

.emprendimientos {
  margin-top: 50px;
  grid-column: 1/3; }

.more {
  display: flex;
  justify-content: center; }

.obra1 {
  grid-column: 1/3; }
  .obra1 img {
    width: 50%;
    height: auto;
    margin-left: 25%; }

.obra2 {
  grid-column: 1/3; }
  .obra2 img {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 50px; }

@media (max-width: 700px) {
  .fondo {
    background-size: auto; }
  .fondo h3 {
    width: 20ch;
    text-align: center; }
  .barra {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cards {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cards img {
      width: 90%;
      height: 400px; }
  .contacto {
    width: 100%; }
  .card-ventas, .card-alquilar {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .slide {
    max-width: 100%;
    max-height: 100%; }
  .barra {
    display: none; }
  .navbar {
    display: block;
    background-color: black; } }
